{
	admin 0.0.0.0:2019
	metrics

	frankenphp {
		num_threads 16 # 4 × CPU cores
		max_threads auto # let FrankenPHP scale

		worker {
			file ./public/index.php
			num 8 # 1 worker per CPU core
		}

		php_ini memory_limit 512M
	}
}

{$SERVER_NAME:localhost} {
	root {$SERVER_ROOT:public/}
	encode zstd br gzip 

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server
}
